<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="carousel.css" media="all" type="text/css">
    <link rel="stylesheet" href="banner01.css" media="all" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <script src="assets/carousel.js"></script>

</head>
<body>

<!-- Carousel --> 
<div id="header-carousel" class="carousel slide" data-ride="header-carousel-ride">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div id="owl-demo" div class="carousel-inner">
    <div class="item active"><img src="https://scontent.xx.fbcdn.net/hphotos-xta1/t31.0-8/12593758_881621698603447_2867348409802506244_o.jpg" alt="The Last of us">
      <div class="carousel-caption">
       <h3>The First Braille Smartwatch</h3>
       <p>With active braille technology</p>
       <%= link_to "Pre-Order", product_path, class: "button" %>
      </div>     
    </div> 
    

    <div class="item"><img src="https://scontent.xx.fbcdn.net/hphotos-xta1/t31.0-8/12604705_881621718603445_8032990919348975096_o.jpg" alt="The Last of us">
      <div class="carousel-caption">
       <h3>The First Braille Smartwatch</h3>
       <p>With active braille technology</p>
          <%= link_to "Pre-Order", product_path, class: "button" %>
      </div>   
    </div>

    <div class="item"><img src="https://scontent.xx.fbcdn.net/hphotos-xft1/t31.0-8/12657232_881621741936776_7998567145333538475_o.jpg" alt="The Last of us">
      <div class="carousel-caption">
       <h3>The First Braille Smartwatch</h3>
       <p>With active braille technology</p> 
          <%= link_to "Our Stroy", about_path, class: "button" %>
      </div> 
    </div>

  <div class="item"><img src="https://scontent.xx.fbcdn.net/hphotos-xpl1/t31.0-8/11136142_881621758603441_2112279871167672975_o.jpg" alt="The Last of us">
    <div class="carousel-caption">
       <h3>The First Braille Smartwatch</h3>
       <p>With active braille technology</p>    
          <% if user_signed_in? %>
            <%= link_to "Pre-Order", product_path, class: "button" %> 
          <% else %>         
            <%= link_to "Sign up", new_user_registration_path, class: "button" %>
          <% end %> 
    </div>
  </div>
  
</div>
</body>

  <!-- Controls -->
  <a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  <!-- End Controls -->
<!-- End Carousel -->  

<div id="banner_section_01">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><div class="left_watch"><a href="/product">
      <img src="https://scontent.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12631420_881610605271223_563003460790229426_n.jpg?oh=6c3a0e88eb1e8e37c1a0ce6ebf8018dc&oe=573C3E71" alt=""></a></div></div>

      <div class="col-md-4"><div class="middle_text">
      <p class="top">DOT SMART WATCH</p>
      <p class="top2">Amazing Experience with Your Fingertips</p></div>
      <p class="top3">RELEASE IN 2016</p>
      </div>

      <div class="col-md-4"><div class="right_watch"><a href="/product">
      <img src="https://scontent.xx.fbcdn.net/hphotos-xfl1/v/t1.0-9/12631420_881610605271223_563003460790229426_n.jpg?oh=6c3a0e88eb1e8e37c1a0ce6ebf8018dc&oe=573C3E71"></a></div></div>
 
    </div>
  </div>
</div>








</html>

