<!-- Carousel --> 
<link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

<div id="header-carousel" class="carousel slide" data-ride="header-carousel-ride">
  <div class="carousel-inner">
    <div class="item" style="background-image: url('/assets/slide7.jpg');">
      <div class="title">The first braille smartwatch</div>
      <div class="text">Via bluetooth connection, it displays any text data in braille.</div>
      <div class="more">
        <% if user_signed_in? %>
          <%= link_to "Pre-Order", product_path, class: "btn btn-default btn-lg" %>   
        <% else %>
        
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        
    <% end %> 

      </div>
    </div>
    <div class="item" style="background-image: url('/assets/slide2.jpg');">
      <div class="title">The first braille smartwatch</div>
      <div class="text">Affordable E-Braille reader for visually impaired people around the globe With Active Braille Technology</div>
      <div class="more">
        <% if user_signed_in? %>
         <%= link_to "Pre-Order", product_path, class: "btn btn-default btn-lg" %>  
        <% else %>
        
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        
    <% end %> 

      </div>
    </div>
    <div class="item" style="background-image: url('/assets/slide5.jpg');">
      <div class="title">The first braille smartwatch</div>
      <div class="text">Affordable E-Braille reader for visually impaired people around the globe With Active Braille Technology</div>
      <div class="more">
        <% if user_signed_in? %>
        <%= link_to "Pre-Order", product_path, class: "btn btn-default btn-lg" %> 
        <% else %>
        
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        
    <% end %> 

      </div>
    </div>
    <div class="item" style="background-image: url('/assets/slide6.jpg');">
      <div class="title">The first braille smartwatch</div>
      <div class="text">Affordable E-Braille reader for visually impaired people around the globe With Active Braille Technology</div>
      <div class="more">
        <% if user_signed_in? %>
        <%= link_to "Pre-Order", product_path, class: "btn btn-default btn-lg" %> 
        <% else %>
        
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        
    <% end %> 

      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  <!-- End Controls -->
<!-- End Carousel --> 



<script>
$(window).load(function(){
  $('.title').css({ 'top': 90+'px', 'opacity': 1 });
  $('.text').css({ 'opacity': 1 });
  $('.more').css({ 'opacity': 1, 'bottom': 90+'px' });
});
$('#header-carousel').on('slid.bs.carousel', function () {
  $('.title').css({ 'top': 90+'px', 'opacity': 1 });
  $('.text').css({ 'opacity': 1 });
  $('.more').css({ 'opacity': 1, 'bottom': 90+'px' });
});
$('#header-carousel').on('slide.bs.carousel', function () {
  $('.title').css({ 'top': 0+'px', 'opacity': 0 });
  $('.text').css({ 'opacity': 0 });
  $('.more').css({ 'opacity': 0, 'bottom': 0+'px' });
});
function carouselFix() {
  $(".carousel.slide").carousel("pause");
  $('.carousel.slide .item').removeClass('active');
  $('.carousel.slide').find('.item:first').addClass('active');
}
$(document).ready(function() {      
  carouselFix();
});


</script>

