<!DOCTYPE htmel>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="carousel.css" media="all" type="text/css">
    <link rel="stylesheet" href="banner01.css" media="all" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

</head>
<body>

<!-- Carousel --> 
<div id="header-carousel" class="carousel slide" data-ride="header-carousel-ride">
  <div class="carousel-inner">
    <div class="item" style="background-image: url('slide1.jpg');">
      <div class="title">The First Braille Smartwatch</div>
      <div class="text">With active braille technology</div>
      <div class="more">
         <%= link_to "Pre-Order", product_path, class: "btn" %>
      </div>
    </div>
    <div class="item" style="background-image: url('slide2.jpg');">
      <div class="title">The First Braille Smartwatch</div>
      <div class="text">With active braille technology</div>
      <div class="more">
         <%= link_to "Pre-Order", product_path, class: "btn" %>
    </div>
  </div>
    <div class="item" style="background-image: url('slide5.jpg');">
      <div class="title">The First Braille Smartwatch</div>
      <div class="text">With active braille technology</div>
      <div class="more">
        
        <%= link_to "Our Stroy", about_path, class: "btn" %> 
        
      </div>
    </div>
    <div class="item" style="background-image: url('slide6.jpg');">
      <div class="title">The First Braille Smartwatch</div>
      <div class="text">With active braille technology</div>
      <div class="more">
        <% if user_signed_in? %>
          <%= link_to "Pre-Order", product_path, class: "btn" %> 
        <% else %>         
          <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
        <% end %> 
      </div>
    </div>
  </div>
</body>
  <!-- Controls -->
  <a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
  <!-- End Controls -->
<!-- End Carousel --> 

 

<div id="banner_section_01">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><div class="left_watch"><a href="/product">
<<<<<<< HEAD
      <img src="watch1.png" alt=""></a></div></div>
=======
      <img src="assets/watch1.png" alt=""></a></div></div>
>>>>>>> 30207ea92e78d17af4a3ea1b79662ea235065332

      <div class="col-md-4"><div class="middle_text">
      <p class="top">DOT SMART WATCH</p>
      <p class="top2">Amazing Experience with Your Fingertips</p></div>
<<<<<<< HEAD
      <p class="top3">RELEASE IN 2016</p>
      </div>

      <div class="col-md-4"><div class="right_watch"><a href="/product">
      <img src="watch1.png"></a></div></div>
=======
      <p class="top3">SLATEF FOR RELEASE IN 2016</p>
      </div>

      <div class="col-md-4"><div class="right_watch"><a href="/product">
      <img src="assets/watch1.png"></a></div></div>
>>>>>>> 30207ea92e78d17af4a3ea1b79662ea235065332
 
    </div>
  </div>
</div>
</html>

<style>
/* header-carousel CSS 
===========================*/

body { font-family: "Arial"; padding-top: 70px; }
#header-carousel .carousel-inner .item { 
  background-size: cover; 
  background-position: center; 
  width: 100%; height: 850px;

}
.slide { background: #dadada; width: 100%; height: 850px; }

.btn {
    border: 3px solid black;
    padding: 15px 41px;
    text-decoration: none;
    overflow : hidden;
    float:left;
  width: 100%;
  max-width:500px;  
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: .1em;  
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover{
  color:black;
  background-color: white;
  background-position: -100% 100%;
}


/* ENDS header-carousel CSS 
===========================*/
<<<<<<< HEAD

=======
/* RESPONSIVE CSS
    -------------------------------------------------- */

@media only screen and (min-device-width : 320px) {
  .btn { margin-top: -10px;
         margin-left:-60px;}
            }

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
  .btn { margin-top: -50px;
         margin-left:-100px;}
            }

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
  .btn { margin-top: -50px;
         margin-left:-250px;}
            }

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .btn { margin-top: -120px;
         margin-left:-300px;} 
            }

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .btn { margin-top: -120px;
         margin-left:-300px;} 
            }

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .btn { margin-top: -120px;
         margin-left:-350px;} 
            }

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
  .btn { margin-top: -190px;
         margin-left:-435px;} 
            }

/* Large screens  */
@media only screen and (min-width : 1824px) {
   .btn { margin-top: -200px;
          margin-left:-580px;} 
            }

/* iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    .btn { margin-top: -200px;
           margin-left:-580px;} 
            }
>>>>>>> 30207ea92e78d17af4a3ea1b79662ea235065332
</style>


<script>
$(window).load(function(){
  $('.title').css({ 'top': 90+'px', 'opacity': 1 });
  $('.text').css({ 'opacity': 1 });
  $('.more').css({ 'opacity': 1, 'bottom': 90+'px' });
});
$('#header-carousel').on('slid.bs.carousel', function () {
  $('.title').css({ 'top': 90+'px', 'opacity': 1 });
  $('.text').css({ 'opacity': 1 });
  $('.more').css({ 'opacity': 1, 'bottom': 90+'px' });
});
$('#header-carousel').on('slide.bs.carousel', function () {
  $('.title').css({ 'top': 0+'px', 'opacity': 0 });
  $('.text').css({ 'opacity': 0 });
  $('.more').css({ 'opacity': 0, 'bottom': 0+'px' });
});
function carouselFix() {
  $(".carousel.slide").carousel("pause");
  $('.carousel.slide .item').removeClass('active');
  $('.carousel.slide').find('.item:first').addClass('active');
}
$(document).ready(function() {      
  carouselFix();
});


</script>

