<!DOCTYPE html>
<html>
<head>
  <title>SampleWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "defaults", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= link_to "Home", root_path %>
    <%= link_to "About Us", about_path %>
    <%= yield %>

</body>
</html>
