<!DOCTYPE html>
<html>
<head>
  <title>Dot</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="footer.css" media="all" type="text/css">
       <%= stylesheet_link_tag "application", media: "all" %>
       <%= javascript_include_tag "default" %>
       <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller_name %> <%= action_name %>">
    
    <%= render 'layouts/header' %>
    
      <% flash.each do |name, msg| %>         
      <% end %>
      <%= yield %>    
</div>

<!--footer-->
  <div class="footer">
    <div class="container">
      <div class="col-md-3 footer-left">
        <h4>Address</h4>
        <ul>
          <li>#2002 Ace High-end Tower 7</li>
          <li>67 Gasan digital 2-ro</li>
          <li>Geumcheon-gu</li>
          <li>Seoul, South Korea , 08588</li>
        </ul>       
      </div>
      <div class="col-md-3 footer-left">
        <h4>Menu</h4>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/product">Product</a></li>
          <li><a href="/news">News</a></li>         
          <li><% if user_signed_in? %><a href="/mypage">MyPage</a>
          <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <% end %> 
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-left">
        <h4>Support</h4>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/policy">Privacy Policy</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-right">
      <span class="footer-social-overlap footer-social-icons-wrapper">  
      <div class="icons">
        <ul>
          <li><a href="https://twitter.com/smartdotbraille"><i class="fa fa-twitter"></i> </a></li>
          <li><a href="https://www.facebook.com/dotsmartbraillewatch/?fref=ts"><i class="fa fa-facebook-square"></i> </a></li>
          <li><a href="https://plus.google.com/u/1/111512740804190924063/posts?hl=ko" > <i class="fa fa-google"></i></a></li>
          <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>          
        </ul>
      </div>
      </span>
      <p> © Copyright 2016 <br> Dot Incorporation. <br> All Rights Reserved.</p>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!--//footer-->
</body>
</html>