<!DOCTYPE html>
<html>
<link rel="stylesheet" href="application.css" media="all" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<head>
  <title>Dot</title>
       <%= stylesheet_link_tag "application", media: "all" %>
       <%= javascript_include_tag "default" %>
       <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller_name %> <%= action_name %>">
    
    <%= render 'layouts/header' %>
    
      <% flash.each do |name, msg| %>
         <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>    
</div>

<div data-role="footer">
<div class="container-fluid outside-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-links">
          <li><a href="#">ORDER</a></li>
          <li><a href="#">RECRUITMENT</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">TERMS</a></li>             
        </ul>
      </div>

      <div class="col-sm-6 soc-links right">
        <section class="footer-social-section">
        <span class="footer-social-overlap footer-social-icons-wrapper">
        <a href="#" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
        <a href="https://www.facebook.com/dotsmartbraillewatch/?fref=ts" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/smartdotbraille" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
        <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
        </span>
        </section>      
      </div>      
    </div>

        <div class="row copyright">
          <div class="col-sm-12 ">
            <h4>© Copyright 2016 Dot Incorporation. All Rights Reserved. </h4>
          </div>
        </div>
  </div>
</div>
</footer>
</body>
</html>